## Assignment 1
### Name:
### Roll Number:

In [52]:
# K-fold cross-validation is a technique used to assess and optimize the performance of machine
# learning models. The dataset is divided into K subsets, or ”folds.” The model is trained on K-1 folds
# and tested on the remaining one. This process is repeated K times, and the average performance
# is used to gauge the model’s generalization ability.

In [53]:
# import all the necessary libraries here
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [54]:
# read the cross-validation dataset into a dataframe
df = pd.read_csv('../../dataset/cross-validation.csv')
print(df.shape)

# randomizing the dataset
df = df.sample(frac=1).reset_index(drop=True)

# set the last index y or n as 1 and 0 respectively
df['Loan_Status'] = df['Loan_Status'].map({'Y': 1, 'N': 0})

print("First 5 rows of the dataset:")
df.head()

(614, 13)
First 5 rows of the dataset:

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP002640,Male,Yes,1,Graduate,No,6065,2004.0,250.0,360.0,1.0,Semiurban,1
1,LP002219,Male,Yes,3+,Graduate,No,8750,4996.0,130.0,360.0,1.0,Rural,1
2,LP002689,Male,Yes,2,Not Graduate,No,2192,1742.0,45.0,360.0,1.0,Semiurban,1
3,LP002231,Female,No,0,Graduate,No,6000,0.0,156.0,360.0,1.0,Urban,1
4,LP002128,Male,Yes,2,Graduate,NaN,2583,2330.0,125.0,360.0,1.0,Rural,1

In [55]:
# splitting the dataset into training and testing data
# train set: 80%, test set: 20%
train_data = df.iloc[:int(0.8*len(df)), :]
test_data = df.iloc[int(0.8*len(df)):, :]


# check the shape of the data
print("Shape of the training data:", train_data.shape)
print("Shape of the testing data:", test_data.shape)

Shape of the training data: (491, 13)
Shape of the testing data: (123, 13)